<header>
    <nav>
        <a href='/'>Pokegochi</a>
        <ul>
            <li><a href="/pokedex">Pokedex</a></li>
            <li><a href="/pokedex/new">New Pokemon</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/user/new">New User</a></li>
        </ul>
    </nav>
</header>